<script lang="ts">
  import { fade } from 'svelte/transition';

  import { dropZone } from '@actions/dnd'
	import { getDrags } from '@actions/dnd/store';
  const {dragStart$, dragEnd$} = getDrags()

  export let dropAbleTypes: string[] = [];



  let isDraggingRelevantElement = false;
  let isDragging = false;

  dragStart$.subscribe(({type}) => {
    isDragging = true;
    isDraggingRelevantElement = dropAbleTypes.includes(type);
  })

  dragEnd$.subscribe(() => {
    isDraggingRelevantElement = false;
    isDragging = false;
  })


</script>

{#if isDraggingRelevantElement == true || isDragging == false}
<section 
  class:dragging={isDraggingRelevantElement}
  class="group relative border-2 -m-1 rounded-lg" 
  {...$$restProps}
>
  <button
    on:dragleave
    on:dragenter 
    use:dropZone={{types: ['addButton', 'element', ...dropAbleTypes]}} 
    on:drop  
    on:click 
    out:fade={{duration: 100}} in:fade={{delay: 1000}}
    class:absolute={!isDraggingRelevantElement}
    class=""
  >
    {#if isDraggingRelevantElement}
      <div class="drop-area">drop here</div>
    {:else}
      <i class="ri-add-circle-line ri-2x leading-none text-primary-100 p-0 bg-white rounded-full group-hover:text-primary-700" />
    {/if}
  </button>
</section>
{/if}

<style lang="postcss">

  section {
    @apply border-primary-100 cursor-pointer;

    &:hover,
    &:focus {
      @apply border-primary-500;
    }

    button {
      
      @apply w-full h-full z-10;
    }

    &:not(.dragging) {
      button {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
        @apply p-3;
        @apply flex items-center justify-center box-border;
      }
    }

    &.dragging {
      @apply border-none;
      @apply z-20;


      .drop-area {
        @apply transition-all;
        @apply bg-primary-100 opacity-50;
        @apply border-4 border-dashed border-primary-300 rounded-md;
        @apply w-full p-3;

        &:hover {
          @apply border-primary-700;
          @apply py-12 -my-9;
        }
      }
    }

  }

</style>