<script lang="ts">
  import { InfoButton } from '@comp/form/button'
	import type { TemplateMeta } from '@types';

  export let template: TemplateMeta

  const {name, short, thumbnail, description} = template

  let showDescription = false;
</script>

<button 
  on:click 
>
  {#if description}
    <InfoButton 
      on:hovering={() => showDescription = true}
      on:left={() => showDescription = false}
    />
    {#if showDescription}
    <div class="overlay bg-overlay-text text-left p-3 pr-5 overflow-scroll">
      {description}
    </div>
    {/if}
  {/if}
  <div class="group overlay hover:bg-overlay-light text-neutral-700">
    <i class="absolute top-1/2 left-1/2 hidden group-hover:block -translate-y-1/2 -translate-x-1/2 text-3xl ri-add-circle-line"></i>
  </div>
  {#if thumbnail}
    <img
      class="object-cover" 
      src={thumbnail} 
      alt="add element 
      {name}"
    />
    <small>{short || name}</small>
  {:else}
    <div class="p-7">{name}</div>
  {/if}
</button>

<style lang="postcss">
  button {
    @apply relative cursor-pointer hover:bg-primary-300;
    @apply m-1 p-1 ring-1 rounded-md ring-neutral-400;
    @apply overflow-hidden;
  }

  small {
    @apply pt-1 px-3;
    @apply border-t-2 border-neutral-300;
  }

  .overlay {
    @apply absolute;
    @apply top-0 left-0 h-full w-full;
  }
</style>