<script lang="ts" context="module">
  import AddButton from './add.button.svelte'
  

  import { Tabs, Tab } from '@comp/tab';
  import { slide } from 'svelte/transition';
  import AddElementContent from './add.element.content.svelte';
	import Spinner from '@comp/spinner.svelte';

  let categories: string[];

  const loadCategories = async (): Promise<string[]> => {
    if(categories == null) {
      const result = await fetch('/templates/categories');
      categories = <string[]>(await result.json())
    }
    
    return categories;
  }

  

</script>

<script lang="ts">
  export let allowed: string[] | undefined;
  export let dropAbleTypes: string[];

  let isOpen: boolean;

</script>

{#if isOpen}
<section transition:slide>
  {#if allowed} 
    <AddElementContent on:add on:add={() => isOpen = false} templates={allowed} />
  {:else}
    {#await loadCategories()}
      <Spinner />
    {:then categories} 
      <Tabs>
        {#each categories as category, i (category)}
          <Tab name={category} active={i===0}>{category}</Tab>
        {/each}

        <svelte:fragment slot="active" let:active>
          <AddElementContent on:add on:add={() => isOpen = false} category={active} />
        </svelte:fragment>

      </Tabs>
    {:catch error}
      Failed to load something!
    {/await}
    
  {/if}

  
  
  <button on:click={() => isOpen=false} class="absolute top-0 right-0 px-3 py-1 group">
    <i class="ri-close-line group-hover:text-danger-700 focus:text-danger-700" />
  </button>
</section>
{:else}
  <AddButton {dropAbleTypes} on:drop on:dragenter on:click={() => isOpen = true}/>
{/if}


<style lang="postcss">
  section {
    @apply relative m-3 border-2 rounded-lg border-primary-300 overflow-hidden;
  }

</style>


