<script lang="ts" context="module">
  import { createEventDispatcher } from 'svelte';
	import type { TemplateMeta } from '@types';
  import Spinner from '../spinner.svelte';
  import ElementTile from './add.element.tile.svelte';
</script>

<script lang="ts">

  export let category: string | undefined = undefined;
  export let templates: string[] | undefined = undefined;

  const dispatch = createEventDispatcher()

  const loadTemplates = async (load: string | string[] | undefined) => {
    if(undefined) {
      throw new Error('Define category or template to load data');
    }

    if(Array.isArray(load)) {
      return loadSpecificTemplates(load);
    } else {
      const response = await fetch(`/templates/categories/${load}`);
      throwOnErrorCode(response)
      return  <TemplateMeta[]>(await response.json());
    }
  }

  const loadSpecificTemplates = async (names: string[]) => {
    const url = new URL('/templates', window.location.href);
    names.forEach((name) => url.searchParams.set('name', name))
    
    const result = await fetch(url);
    throwOnErrorCode(result);
    return  <TemplateMeta[]>(await result.json());
  }

  const selectTemplate = (id: string) => async () => {
    const response = await fetch(`/templates/${id}/blueprint`);
    const blueprint = await response.json();
    dispatch('add', blueprint);
  }

  const throwOnErrorCode = (result: Response) => {
    if(result.status >= 400) {
      // TODO: create a Exception class
      throw {
        status: result.status
      }
    }
  }
</script>


{#await loadTemplates(templates || category)}
  <Spinner />
{:then templates}
  {#if templates}
  <ul class="grid grid-cols-3">
    { #each templates as template }
      <li class="">
        <ElementTile {template} on:click={selectTemplate(template.id)} />
      </li>
    {/each}
  </ul>
  {/if}
{:catch error}
  {#if error.status === 404}
    No Elements found!
  {:else}
    Unexpected error, please reload!
  {/if}
{/await}