<script lang="ts">
	import { slide } from 'svelte/transition';

  import { flip } from 'svelte/animate';

  import AddElement from '@comp/element/add.element.svelte';
  import { nanoid } from 'nanoid';

  import { getConstructionKitFor } from '@elements';
  import type { ElementData } from '@elements/types';
  import { createEventDispatcher, onMount, getContext, beforeUpdate } from 'svelte';
  import { CONTEXT, type DndContextInterface, type TemplateBlueprint } from '@types';
	import { dragAble } from '@actions/dnd';

  const dispatcher = createEventDispatcher();
  const context = getContext<DndContextInterface>(CONTEXT.DND); 
  const dropId = nanoid();

  export let init: ElementData[];
  export let extendable: string[] | undefined = undefined;
  export let element = 'div';
  let initHash: string;
  let content: ElementData[];

  beforeUpdate(async () => {
    const hashOfNewinit = await hashingWrapper(init)
    if(initHash !== hashOfNewinit) {
      content = init.map(setId)
      initHash = initHash == null ? hashOfNewinit : await hashingWrapper(content);
    }
  })

  onMount(() => {
    if(isExtendable()) {
      context.delete.subscribe(removeElement);
    }
  })


  const setId = ({id, ...props}: ElementData) => ({
    id: id ?? nanoid(),
    ...props
  })

  const removeElement = (toDeleteId: string | null) => {
    if(toDeleteId == null) return;
    const index = content.findIndex(({id}) => id === toDeleteId)
    if(index !== -1){
      content.splice(index, 1);
      content = content.filter(({id}) => id !== toDeleteId)
      dispatchChanges();
    }
  }

  async function addElementAtFirst ({detail}: CustomEvent<TemplateBlueprint>) {
    content = [
      {
        ...(detail as ElementData),
        id: nanoid()
      },
      ...content
    ]
    await dispatchChanges();
  }

  const addElement = (index: number) => async ({detail}: CustomEvent<TemplateBlueprint>) => {
    content = [
      ...content.slice(0, index),
      {
        ...detail,
        id: nanoid()
      },
      ...content.slice(index)
    ]
    
    await dispatchChanges();
  }

  async function hashingWrapper(content: ElementData[]): Promise<string> {
    const stringified = JSON.stringify(content)
    const contentUnit8 = new TextEncoder().encode(stringified);                           // encode as (utf-8) Uint8Array
    const hashBuffer = await crypto.subtle.digest('SHA-256', contentUnit8);           // hash the message
    const hashArray = Array.from(new Uint8Array(hashBuffer));                     // convert buffer to byte array
    const hashHex = hashArray.map((b) => b.toString(16).padStart(2, '0')).join(''); // convert bytes to hex string
    return hashHex;
  }

  async function dispatchChanges () {
    const hashedContent = await hashingWrapper(content);
    if(hashedContent !== initHash) {
      initHash = hashedContent;
      dispatcher('change', content);
    }
  }

  async function handleContentUpdate({detail}: CustomEvent<ElementData>) {
    content = content.map((element) => {
      if(detail.id === element.id) {
        return {
          ...element,
          ...detail
        }
      }
      return element;
    })
    
    await dispatchChanges();

  }

  function moveElement (from: number, to: number) {
    
    const elements = content.splice(from, 1)
    if(to > from) to-=1;

    content = [
      ...content.slice(0, to),
      ...elements,
      ...content.slice(to)
    ]
  }

  const handleDrop = (to: number) => async (evt: Event) => {
    const {detail} = evt as CustomEvent;
    if(detail && detail.data.id) {
      const from = content.findIndex((element) => element.id === detail.data.id);

      if(from !== to && from+1 !== to) {
        moveElement(from, to)
        await dispatchChanges();
      }
    }
  }

  function isExtendable(): boolean {
    return (extendable == null || extendable.length !== 0)
  }

  
</script>

{#if initHash}
  {#if isExtendable()}
    <AddElement on:drop={handleDrop(0)} dropAbleTypes={[dropId]} on:add={addElementAtFirst} allowed={extendable}/>
  {/if}
  {#each content as {type, id, ...props}, i (id) }
    <svelte:element
      use:dragAble={{type: dropId, data: {id}, initSelector: ":first-child", active: isExtendable()}} 
      class="contents" 
      this={element === 'ul' ? 'li' : 'div'} 
      animate:flip 
      transition:slide
    >
      <svelte:component on:change={handleContentUpdate} this={getConstructionKitFor(type)} data={{id, ...props}}/>
      {#if isExtendable()}
        <AddElement dropAbleTypes={[dropId]} on:drop={handleDrop(i+1)} on:add={addElement(i+1)} allowed={extendable} />
      {/if}
    </svelte:element>
  {/each}
{/if}
