<script lang="ts">
import { dropZone } from '@actions/dnd'
import { getDrags } from "@actions/dnd/store";
import type { ElementData } from "@elements/types";
import { CONTEXT, type DndContextInterface } from '@types';
import { createEventDispatcher, getContext } from "svelte";
import { scale } from "svelte/transition";

const {dragStart$, dragEnd$} = getDrags()
let mouseIsOverBin = false;
const context = getContext<DndContextInterface>(CONTEXT.DND);


const dispatcher = createEventDispatcher();
let isDraggingElement = false;

dragStart$.subscribe(({type}) => {
  isDraggingElement = true; //TODO: check of deleteabel elements
})

dragEnd$.subscribe((data: unknown) => {  
  isDraggingElement = false;
})

function handleDrop(evt: Event) {
  const {detail} = evt as CustomEvent;
  
  if(detail != null){
    const { id } = detail.data as ElementData;
    if(id != null) {
      dispatcher('delete', id);
      if(context != null) {
        context.delete.set(id);
      }
    }
  }
  mouseIsOverBin = false
}


function onEnter () {
  mouseIsOverBin = true;
}

function onLeave () {
  mouseIsOverBin = false;
}



</script>

<div
  class="fixed bottom-10 right-10 z-50 bg-neutral-50 bg-opacity-10 rounded-full"
  class:p-3={isDraggingElement}
  use:dropZone={{types: []}}
  on:dragenter={onEnter}
  on:dragleave={onLeave}
  on:drop={handleDrop}
>
{#if isDraggingElement}
  <i
    transition:scale
    class:ri-delete-bin-5-fill={!mouseIsOverBin}
    class:text-5xl={!mouseIsOverBin}
    class:ri-delete-bin-2-fill={mouseIsOverBin}
    class:text-6xl={mouseIsOverBin}
    class="text-danger-700" 
  />
{/if}
</div>

  
