<script lang="ts">
	import { CONTEXT, type DndContextRemoveHandlerCallbackFunction } from "@types";
  import { setContext } from "svelte";
	import type { DndContextInterface } from "@types";
	import { writable } from "svelte/store";

  const removeHandlers: Set<DndContextRemoveHandlerCallbackFunction> = new Set();

  setContext<DndContextInterface>(CONTEXT.DND, {
    delete: writable(null)
  })

</script>

<slot />