<script lang="ts">
  import { createEventDispatcher, SvelteComponentTyped } from 'svelte';
  import EditModal from './edit/modal.local.svelte';
	import type { LinkElement } from './types';

  let dispatcher = createEventDispatcher()

  let className = ""
  export {className as class}

  export let data: LinkElement;
  const {id, icon, name, link, color, colorOnlyIcon, design, class: elementStyle} = data;

  let modal: SvelteComponentTyped
  $:textColor = colorOnlyIcon ? 'inherit' : color;

  function handleEnter (evt: KeyboardEvent) {
    if(evt.key === 'enter') {
      modal.open();
    }
  }

  function handleChange (evt: CustomEvent) {
    //TODO: get Data to the Compoment and just mix it up instead of decunstruct
    data = {
      ...data,
      ...evt.detail
    }
    dispatcher('change', data)
  }

</script>

<div class="relative">
  <div on:click={() => modal.open()} on:keyup={handleEnter} class="wrapper s-{design} {elementStyle} {className}">
    {#if icon}
      <i class="ri-{icon}" style="color: {color}" />
    {/if}
    <span style="color: {textColor}">{name}</span>
  </div>
  <EditModal 
    bind:this={modal} 
    on:change={handleChange} 
    data={{icon, name, link, colorOnlyIcon, color}}
  />
</div>



<style lang="postcss">
  div.wrapper {
    display: inline;
    @apply cursor-pointer rounded-lg;
  }

  div.s-icon-focused:hover,
  div.s-icon-focused:focus {
    @apply bg-primary-300;
  }

  div.s-list {
    @apply flex flex-nowrap gap-3 mb-3;
  }

  div.s-icon-focused {
    @apply p-3 grid justify-items-center min-w-max;
  }

  div.s-icon-focused i {
    font-size: 2em;
    line-height: 1.25;
  }

  div.edit {
    @apply absolute;
  }


</style>

