<script lang="ts">
	import type { LinkElement } from "./types";

  let className = ""
  export {className as class}
  
  export let data: LinkElement;
  const { icon, name, link, color, colorOnlyIcon, design, class: elementStyle} = data;

  $:textColor = colorOnlyIcon ? 'inherit' : color;

</script>


<style lang="postcss">

  a {
    @apply rounded-lg;
  }

  a.s-list {
    @apply flex flex-nowrap gap-3 mb-3;
  }

  a.s-icon-focused {
    @apply p-3 grid justify-items-center min-w-max;
  }

  a.s-icon-focused:hover,
  a.s-icon-focused:focus {
    @apply bg-primary-300;
  }
  a.s-icon-focused i {
    font-size: 2em;
    line-height: 1.25;
  }

</style>


<a data-sveltekit-reload class="s-{design} {elementStyle} {className}" href={link} rel="noopener noreferrer" >
  {#if icon}
    <i class="ri-{icon}" style="color: {color}" />
  {/if}
  <span style="color: {textColor}">{name}</span>
</a>