<script lang="ts">
	import type { MapElement } from "./types";



  let className = "";

  export {className as class};


  export let data: MapElement;
  const {token, style, lat, lon, zoom, alt = "Map", height=500, width=1280, class: elementStyle} = data;

  let url: string;
  $: if(height && width && lat && lon && zoom) {
    url = `https://api.mapbox.com/styles/v1/mapbox/${style}/static/pin-s+77767b(${lon},${lat})/${lon},${lat},${zoom},0/${width}x${height}@2x?access_token=${token}`
  }
  
</script>

<div class="{elementStyle} {className}">
  {#if url}
    <img class="object-cover h-full w-full" {alt} src={url} />
  {/if}
</div>