<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import Edit from './edit.svelte';
	import type { MapElement } from './types';

	const dispatcher = createEventDispatcher();
	let className = '';

	export { className as class };
	export let data: MapElement;
  const {id, token, style, lat, lon, zoom, alt = "Map", height=500, width=1280, class: elementStyle} = data;

	let url: string;

	$: if (height && width && lat && lon && zoom) {
		url = `https://api.mapbox.com/styles/v1/mapbox/${style}/static/pin-s+77767b(${lon},${lat})/${lon},${lat},${zoom},0/${width}x${height}@2x?access_token=${token}`;
	}

	function handleChange({ detail }: CustomEvent) {
		dispatcher('change', {
			...detail,
			id,
			class: className
		});
	}
</script>

<Edit on:change={handleChange} {style} {token} {zoom} {alt} {lat} {lon} />
<div class="{elementStyle} {className}">
	{#if url}
		<img class="object-cover h-full w-full" {alt} src={url} />
	{/if}
</div>
