<script lang="ts">

  import Input from "@comp/form/input.svelte";
  import Modal from '@comp/modal.inplace.svelte';
import { createEventDispatcher } from "svelte";

  let dispatcher = createEventDispatcher();

  let isOpen = false;
  let form: HTMLFormElement;

  export let token: string;
  export let style: string;
  export let zoom: number;
  export let alt: string;
  export let lat: number;
  export let lon: number;

  function changeItem (evt: Event, id: string) {

  }

  function handleSubmit(evt: Event) {
    const formData = new FormData(form);
    const data: Record<string, unknown> = {}
    formData.forEach((value, key) => {
      data[key] = value;
    });

    dispatcher('change', data);
  }

</script>

<div class="overlay" on:click={() => {isOpen = true}}><i class="ri-road-map-line 2xl"></i></div>

<Modal bind:isOpen class="inlay" on:resolve={handleSubmit} on:reject={(() => form.reset())}>
  <form bind:this={form}>
    <Input label="Token" name="token" value={token} require/>
    <Input label="Style" name="style" value={style} />
    <Input label="Zoom" name="zoom" value={zoom} />
    <Input label="Image Alt" name="image" value={alt} />
    <Input label="Lat" name="lat" value={lat} />
    <Input label="Lon" name="lon" value={lon} />
  </form>
</Modal>


<style lang="postcss">

  form {
    @apply flex flex-wrap gap-3 bg-white box-border rounded-lg max-w-full w-fit h-fit p-7;
  }

  div.overlay {
    @apply absolute top-0 h-full w-full hover:bg-primary-300 opacity-50 cursor-pointer;

    i {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-5xl text-white bg-primary-600 p-7 rounded-full;
    }
  }
</style>