<script lang="ts">
import { browser } from "$app/environment";
	import { ModalsLayer } from "@comp/modal";


  

  
</script>

<ModalsLayer />
<slot />

<style lang="postcss" global>

  @import '../app.css';
  
</style>