<script lang="ts">
import { nanoid } from "nanoid";

  let className = "";
  
  export {className as class};
  export let label: string;

  let id = nanoid();
</script>

<div>
  <input {id} on:change class="{className}" {...$$restProps} type="checkbox"/>
  <label for={id}>{label}</label>
</div>


<style>
</style>