<script lang="ts">
	import { nanoid } from 'nanoid';
	
	export let label: string | undefined = 'Color';
	export let value: string | undefined;

	const id = nanoid(5);

</script>

<div class="relative w-full h-full">
  {#if label || $$slots.default}
		<label for={id}>
			<small><slot>{label}</slot></small>
		</label>
	{/if}
	<div class="wrapper input" >
		<input min="4" max="9" bind:value type="text" style="border-color: {value}"/>
		<label class="custom" for="color-{id}"><i class="ri-sip-line" /></label>
		<input class="input" id="color-{id}" bind:value type="color" {...$$restProps} />
		<!-- <Button on:click={resetColor}><i class="ri-restart-line" /></Button> -->
	</div>
</div>

<style lang="postcss">
	@import './form.css';


	div.wrapper {
		@apply flex flex-nowrap items-center;
		@apply p-0 overflow-hidden;
		
	}

	input {
		@apply py-1 pt-[6px] border-0 w-full;
		@apply border-l-8 focus:border-neutral-50;
	}

	label.custom {
		@apply cursor-pointer text-neutral-500 hocus:text-neutral-900;
	}

	i {
		@apply px-2 text-lg;
	}

	input[type='color'] {
		@apply hidden;
		@apply p-0 w-full cursor-pointer;
		@apply overflow-hidden;
	}
</style>
