<script lang="ts">
  import { onMount, onDestroy, createEventDispatcher } from 'svelte'
  import { Editor } from '@tiptap/core';
  import Link from '@tiptap/extension-link';
  import BubbleMenu from '@tiptap/extension-bubble-menu';
  import FloatingMenu from '@tiptap/extension-floating-menu';
  import StarterKit from '@tiptap/starter-kit';
  import Placeholder from '@tiptap/extension-placeholder';

  export let content = "";

  let element: HTMLElement;
  let editor: Editor;
  let bubbleMenu: HTMLElement;
  let floatingMenu: HTMLElement;

  const dispatcher = createEventDispatcher();

  onMount(() => {
    editor = new Editor({
      element: element,
      extensions: [
        StarterKit,
        Link,
        BubbleMenu.configure({
          element: bubbleMenu
        }),
        FloatingMenu.configure({
          element: floatingMenu
        }),
        Placeholder.configure({
          showOnlyCurrent: false,
          placeholder: ({ node }) => {
            if (node.type.name === 'heading') {
              return 'What’s the title?'
            }

            return 'Write something....'
          },
        })
      ],
      content,
      onTransaction: () => {
        // force re-render so `editor.isActive` works as expected
        editor = editor
      },
      // onUpdate: ({editor}) => {
      //   content = editor.getHTML();
      // },
      onBlur: () => {
        dispatcher('change', editor.getHTML());
      }
    })
  })

  onDestroy(() => {
    if (editor) {
      editor.destroy()
    }
  })
</script>


<div class="editor">

  <div class="text" bind:this={element} on:click={() => editor.chain().focus().run()} />

  <div class="toolbar" bind:this={bubbleMenu}>
  {#if editor}
    <slot name="bubbleMenu" {editor}></slot>
  {/if}
  </div> 
  <div class="toolbar" bind:this={floatingMenu}>
    {#if editor}
      <slot name="floatingMenu" {editor}></slot>
    {/if}
    </div>  
</div>

<style lang="postcss">

  .editor :global(button),
  .editor :global(.button) {
    @apply border-2 border-solid px-1 rounded-md bg-white text-primary-900;
  }

  .editor :global(button.active),
  .editor :global(.button.active) {
    @apply bg-primary-900 text-white;
  }

  /* Placeholder (at the top) */
  .editor :global(.ProseMirror .is-empty:first-child::before) {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  
</style>