
label:not(:where(.input, .custom)) {
  @apply absolute px-1 py-0 bg-neutral-100  left-3 -translate-y-1/3 rounded-md;
}

.input {
  
  @apply text-base;

  &:not(:where(.d-custom, .custom)){
    @apply py-1 pt-[6px] px-2 my-2 ring-2 border-0 border-neutral-300 rounded-md;
  }
}


