<script lang="ts">

  import type {AnyObjectSchema} from 'yup'
  import { setContext, createEventDispatcher } from 'svelte'



  export let schema: AnyObjectSchema;
  export let action: string | undefined = undefined;
  export let beforeValidate: (data: FormData) => FormData = (data) => data;

  const dispatcher = createEventDispatcher();
  setContext('form', {
    schema
  })

  

  let form: HTMLFormElement;

  async function handleSubmit (evt: Event) {
    try {
      const formData = beforeValidate(new FormData(form));
      const data = (Object.fromEntries(Array.from(formData.entries())) as unknown)
      await schema.validate(data);
      dispatcher('valid', data);
      
      return action != null;
    } catch (err) {
      evt.preventDefault();
      evt.stopPropagation();
      return false;
    }
  }

</script>

<form bind:this={form} on:submit={handleSubmit} {action} {...$$restProps}>
  <slot></slot>
</form>