<script lang="ts">
  let className = "";
  export {className as class};

</script>

<div class="input-group {className}">
  <slot />
</div>

<style lang="postcss">
  div.input-group:not(.grid) {
    @apply flex flex-nowrap items-center;
    :global(:where(input, .input, button, .button, select)) {
      @apply rounded-none;
    }

    &>:global(*:first-child),
    &>:global(*:first-child .input) {
      @apply rounded-l-md;
    }

    &>:global(*:last-child),
    &>:global(*:last-child .input) {
      @apply rounded-r-md;
    }
  }

  
</style>