<script lang="ts">

	import type {AnyObjectSchema} from 'yup';
	import { nanoid } from 'nanoid';
	import { getContext, hasContext } from 'svelte';

	export let label: string | undefined = undefined;
	export let name: string | undefined = undefined;
	export let value: string | number | boolean = '';
	export let textarea = false;
	export let readonly = false;
	export let autocomplete: (v: typeof value) => typeof value = (v) => v;

	let id = nanoid(7);
	let error: string | null = null;
	let schema: AnyObjectSchema | undefined;

	if(hasContext('form') && name){
		schema = getContext<{schema: AnyObjectSchema}>('form').schema.pick([name])
	}

	$: props = {
		id,
		name,
		...(readonly ? {readonly} : {})
	}

	async function validate () {
		value = autocomplete(value)
		if(schema && name){
			try {
				await schema.validate({[name]: value});
				error= null;
			} catch (err: unknown) {
				const {message} = (err as Error)
				if(label) {
					error = message.replace(name, label);
				} else {
					error = message;
				}
			}
		}
	}

</script>

<div class="relative w-full">
	{#if label || $$slots.default}
		<label for={id}>
			<small><slot>{label}</slot></small>
		</label>
	{/if}
	{#if textarea}
	<textarea class="input" on:blur={validate} bind:value on:blur {...props}/>
	{:else}
	<input class="input" on:blur={validate} on:blur bind:value {...$$restProps} {...props} />
	{/if}
	{#if error}
		<small class="relative -top-4 left-3 text-danger-700">{error}</small>
	{/if}
</div>

<style lang="postcss">
	@import './form.css';

	input,
	textarea {
		@apply text-base pt-2 w-full;

		&:read-only {
			@apply bg-neutral-300 cursor-default;
		}

	}
</style>
