<script lang="ts">
	import { createEventDispatcher } from "svelte";

  const dispatcher = createEventDispatcher();

  type identifier = string | number | Symbol;
  type optionTuble = [identifier, string];
  export let options: optionTuble[];

  export function setSelected(ident: identifier) {
    const index = options.findIndex(([id]) => id === ident)
    if(index !== -1) {
      switchSeleciton(index);
    }
  }
  
  let isOpen = false;
  let buttonHeight: number = 0;
  let inside = false;

  const getSelected = () => options[0][0]

  const switchSeleciton = (index: number) => {
    isOpen = false;
    options = [
      options[index],
      ...options.filter((v,i) => i !== index).sort()
    ]
    dispatcher('change', getSelected());
    dispatcher('reorder', options); 
  }

  const loseFocus = () => inside ? inside = false : isOpen = false;

</script>

<svelte:window on:click={loseFocus} on:blur={loseFocus} />


<div class:open={isOpen} style="height: {buttonHeight}px">
    <ul on:click={() => inside = true} on:keypress={() => inside= true}>
      {#each options as [ident, text], i (ident) }
        {#if i === 0}
          <li><button bind:offsetHeight={buttonHeight} on:click={() => {isOpen = !isOpen}}>{text}</button></li>
        {:else}
          <li class="option"><button on:click={() => switchSeleciton(i)}>{text}</button></li>
        {/if}
      {/each}
    </ul>
</div>

<style lang="postcss">
  div {
    @apply relative w-fit;

    button {
      @apply py-1 px-2 w-full text-center;
      @apply whitespace-nowrap;
      @apply hover:bg-neutral-700 hover:text-white focus:ring-1;
    }

    li.option {
      @apply collapse;
      @apply w-full min-w-fit;
    }
    
    &:not(.open) {
      @apply overflow-hidden;

      button {
        @apply rounded-md;
      }
    }

    &.open {
      @apply z-10;
      ul {
        @apply bg-white rounded-md overflow-hidden;
        li.option {
          @apply visible;
        }

      }
    }
  }

  

</style>