

<script lang="ts">

  export let placeholder = "Search...";
  export let value = "";

  // const dispatcher = createEventDispatcher()
  // let searchElement: HTMLInputElement;

  // $:if(searchElement) {
  //   fromEvent(searchElement, 'change')
  //   .pipe(
  //     debounceTime(500),
  //     distinctUntilChanged()
  //   ).subscribe((value) => dispatcher('change', value))
  // }
  

</script>


<input {placeholder}  on:input bind:value {...$$restProps} type="search"/>

<style lang="postcss">
  input {
    @apply border-solid border-primary-700 border-2 py-1 px-3 rounded-lg mt-1 mb-3;
  }
</style>