<script lang="ts">
	import { nanoid } from 'nanoid';

	export let options: [string | number | symbol, string][] | [string | number][];
	export let label: string | undefined = undefined;
	export let selected: string | number | boolean = "";

	let id = nanoid(5);
</script>

<div class="relative">
  {#if label || $$slots.default}
		<label for={id}>
			<small><slot>{label}</slot></small>
		</label>
	{/if}
  <select class="input" on:blur on:change bind:value={selected}>
    {#each options as option}
      <option value={option[0]}>{option[1] || option[0]}</option>
    {/each}
	</select>
</div>


<style lang="postcss">
	@import './form.css';

  select.input {
		@apply pr-9 cursor-pointer;
  }

</style>
