<script lang="ts">
import { StateButton } from "./button";
import Group from "./group.svelte";

  export let selected = false;
</script>


<Group>
  {#if selected}
    <slot name="secondary" />
  {:else}
    <slot name="primary" />
  {/if}
  <StateButton bind:selected d="success" {...$$restProps}>
    <slot></slot>
  </StateButton>
</Group>