<script lang="ts">
  import type { FilePondOptions } from 'filepond';
  import { create, destroy, registerPlugin  } from 'filepond';
  import filePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation';
  import filePondPluginImagePreview from 'filepond-plugin-image-preview';
  import filePondPluginImageTransform from 'filepond-plugin-image-transform';
  import filePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
  import filePondPluginImageResize from 'filepond-plugin-image-resize';
  import filePondPluginImageCrop from 'filepond-plugin-image-crop';
  import filePondPluginFileValidateSize from 'filepond-plugin-file-validate-size';
  import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
  import 'filepond/dist/filepond.min.css';
  import { createEventDispatcher, onDestroy } from 'svelte';

  let className = "";
  export {className as class}
  export let allowMultiple = false;
  export let server: string;
  export let width: number;
  export let maxFileSize: string | undefined = undefined;
  export let current: string | undefined = undefined;

  let inputElement: HTMLInputElement;
  let disptacher = createEventDispatcher();

  function actionFilePond (node: HTMLElement, params: FilePondOptions) {

    registerPlugin(
      filePondPluginImageExifOrientation,
      filePondPluginImagePreview,
      filePondPluginFileValidateType,
      filePondPluginImageTransform,
      filePondPluginImageCrop,
      filePondPluginImageResize,
      filePondPluginFileValidateSize
    )
    const ponds = create(node, {
      ...params,
    });

    const unsplashNode = node.parentNode?.querySelector('.filepond-unsplash');
    let triggerUnsplash: () => void;
    if(unsplashNode) {
      triggerUnsplash = () => { 
        node.dispatchEvent(new CustomEvent('unsplash'))
      };
      const unsplashEvent = unsplashNode?.addEventListener('click', triggerUnsplash);
    }

    return {
      update(params: FilePondOptions) {
        if(params.files) {
          ponds.files = params.files
        }
      },
      destroy() {
        if(unsplashNode) {
          unsplashNode.removeEventListener('click', triggerUnsplash);
        }
        //is called after element is destroyed, so element need to remove in onDestroy
      }
    }
  }

  onDestroy(() => {
    destroy(inputElement);
  })



  let params: FilePondOptions = {};
  if(width) {
    params.imageResizeTargetWidth = width;
  }
  if(maxFileSize) {
    params.maxFileSize = maxFileSize;
  }
  $: if(current) {
    params = {
      ...params,
      files: [{
        source: current,
        options: {
        type: 'local',
    }}]
    }
  }
  $: params = {
    ...params,
    imageTransformOutputQuality: 80,
    imageResizeUpscale: false,
    allowMultiple,
    server,
    stylePanelLayout: 'compact',
    onprocessfile: (error, file) => {if(!error) disptacher('add', file)},
    onremovefile: (error, file) => {if(!error) disptacher('remove', file)}
  }

</script>


<input bind:this={inputElement} class="upload {className}" use:actionFilePond={params} type="file" {...$$restProps} />

<style lang="postcss">
  .upload {
    margin: 0 !important;
  }
</style>