<script lang="ts">

  import type { states } from "./types";

  let className = "";
  export {className as class};

  export let d: keyof typeof states = 'primary';
  export let type: 'button' | 'reset' | 'submit' = "button";

  let hover = false;

</script>


<button on:click
  {type}
  on:blur={() => hover = false} 
  on:mouseover={() => hover = true}
  on:mouseout={() => hover = false}
  on:focus={() => hover = true} 
  class="{d} {type} {className}">
  {#if $$slots.focus && hover}
    <slot name="focus"></slot>
  {:else}
    <slot></slot>
  {/if}
</button>

<style lang="postcss">

  @import './button.css';

  button {
    &:not(.custom){
      @apply bg-white border-2 border-solid flex content-center;
      &:hover,
      &:focus {
        @apply bg-primary-300;
      }
    }

    &.success, &.submit {
      @apply hocus:text-white hocus:bg-success-700;
    }
    &.cancel, &.close, &.reset {
      @apply hocus:text-white hocus:bg-danger-700;
    }

  }

</style>