.button,
button {
  &:not(:where(.d-custom, .custom)){
    @apply py-1 px-3 mb-3 mt-1 border-2 border-solid border-neutral-300 rounded-lg;
  }
}

.button, button {
  &:not(:where(.d-custom, .custom)){

    &:hover,
    &:focus {
      @apply bg-primary-300;
    }
  }
}

