<script lang="ts">
import Button from "./button.svelte";

  
  let className = "";
  export {className as class};
  
  export let icon: string;

</script>

<Button 
  class="rounded-full border-2 border-primary-500 bg-white {className}"
  d="custom"
  on:click
  {...$$restProps}>
  <i class="ri-{icon}" />
</Button>

<style lang="postcss">
  i {
    @apply block text-lg leading-none p-3;
  }
</style>