<script lang="ts">
  import { nanoid } from "nanoid";
  
  let className = "";
  export {className as class};

  type tubleOrString = [string, string] | string

  export let stateClass: [string, string] = ['','']
  export let selected = false;
  export let label: tubleOrString | [] = [];
  export let id = nanoid(7);

  const isTuble = (value: string | string[] | undefined): value is [string, string] => value != null && Array.isArray(value) && value.length === 2 

</script>

<input {id} bind:checked={selected} on:click on:change type="checkbox" />

{#if ($$slots.selected || isTuble(label)) && selected }
  <label class:selected class="button input {className} {stateClass[1]}" for={id}>
    <slot name=selected>{label[1]}</slot>
  </label>
{:else}
  <label class:selected class="button input {className} {stateClass[0]}" for={id}>
    <slot>{isTuble(label) ? label[0] : label}</slot>
  </label>
{/if}



<style lang="postcss">

  @import '../form.css';

  label:not(.custom) {
    @apply whitespace-nowrap;
 
  }
  input {
    @apply hidden;
  }

</style>