<script type="module" lang="ts">
	import { createEventDispatcher } from 'svelte';
  const dispatcher = createEventDispatcher();

  function hovering () {
    dispatcher('hovering');
  }

  function left () {
    dispatcher('left')
  }

</script>

<button 
  on:click|preventDefault|stopPropagation
  on:mouseleave|stopPropagation|preventDefault={left}
  on:focusout|stopPropagation|preventDefault={left}
  on:mouseover|stopPropagation|preventDefault={hovering}
  on:focus|stopPropagation|preventDefault={hovering}
>
  <i class="ri-information-line"></i>
</button>

<style lang="postcss">
  button {
    @apply absolute inline top-1 right-1 z-50;
    @apply text-neutral-400;
    @apply cursor-help;

    &:hover,
    &:focus {
      @apply text-black;
    }
  }
</style>