<script lang="ts">
  export let icon: string;
  export let invert = false;
  export let href: string | undefined = undefined;
</script>

{#if href}
<a 
  {href}
  class:invert
>
  <i class={icon} />
  <small class="name">
    <slot />
  </small>
</a>
{:else}
<button
  on:click
  class:invert
>
  <i class={icon} />
  <small class="name">
    <slot />
  </small>
</button>
{/if}

<style lang="postcss">
  button, a {
    @apply grid auto-rows-min justify-center text-center leading-tight;
    @apply opacity-75 hocus:opacity-100 hocus:ring-1 ring-neutral-700;
    @apply p-1 rounded-md;

    &.invert {
      @apply bg-white;
    }

    i {
      @apply text-lg;
    }

  }


</style>