<script lang="ts">
  import Search from '@comp/form/search.svelte';
  import { createSearch } from '@elements/utils/search';

  

  async function filterIcons (query: string) {
    return [];
  }

  const icons = createSearch(filterIcons)

  function searchIcons (evt: Event) {
    const target = <HTMLInputElement> evt.target;
    if(target?.value) {
      icons.search(target.value);
    }
  }

  

</script>


<Search placeholder="Search Icons" on:input={searchIcons}/>