<script lang="ts" context="module">
	import ModalLocal from '@comp/modal.inplace.svelte';
	import { createEventDispatcher, onMount, SvelteComponentTyped } from 'svelte';
	import { Color, Select, Group, Input } from '@comp/form'
	import { StateButton } from '@comp/form/button';
	import { Tabs, Tab } from '@comp/tab';
	import PagePreview from "./page.preview.svelte";
	import type { LinkModal } from '../types';
	import { Link, LINK_TYPE } from './link.class';
</script>

<script lang="ts">

	export let data: LinkModal;
	let { icon, name, color, colorOnlyIcon } = data;
	const link = new Link(data.link);
	let modal: SvelteComponentTyped;

	const dispatcher = createEventDispatcher();

	export const open = () => modal.open();
	export const close = () => modal.close();



	onMount(() => {

	})

	function setIcon(evt: Event): void {
		const target = <HTMLInputElement>evt.target;
		if (target?.value) {
			const { value } = target;
			if (value === 'fill' || value === 'line') {
				icon = `${getIconPart('name')}-${value}`;
			} else {
				icon = `${value}-${getIconPart('type')}`;
			}
		}
	}

	function getIconPart(part: 'name' | 'type'): string {
		if (!icon) return '';
		const parts = icon.split('-');
		if (part === 'type') {
			const type = parts[parts.length - 1];
			return ['line', 'fill'].includes(type) ? type : 'line';
		} else {
			return parts.slice(0, -1).join('-');
		}
	}

	function saveData() {
		const data: LinkModal = {
			icon,
			name,
			color,
			colorOnlyIcon,
			link: link.toString()
		};
		close();
		dispatcher('change', data);
	}

	function setType (evt: Event) {
		link.type = Number((<HTMLInputElement>evt.target)?.value) || LINK_TYPE.EXTERN;
	}

	function setValue (evt: Event) {
		link.value = (<HTMLInputElement>evt.target)?.value
	}

</script>

<ModalLocal class="overlay" bind:this={modal} on:resolve={saveData} on:reject={() => modal.close()}>
	<Tabs>
		<Tab name="Link (external)" id="link" active={link.type !== LINK_TYPE.PAGE} />
		<Tab name="Page (internal)" id="page" active={link.type === LINK_TYPE.PAGE} />
		<form class="content" slot="active" let:active>
			<Group>
				<Input label="Icon" on:blur={setIcon} value={getIconPart('name')} type="text" />
				<Select options={[['line'], ['fill']]} on:blur={setIcon} selected={getIconPart('type')} />
			</Group>
			<Input label="Description" bind:value={name} type="text" />

			{#if active === 'link'}
			<Group>
				<Select selected={link.type} options={Link.refOptions} on:change={setType}/>
				<Input on:blur value={link.value} on:blur={setValue} type="text"/>
			</Group>
      {:else if active === 'page'}
				<PagePreview link={link.toString()} on:change={({detail}) => {link.value = detail; link.type = LINK_TYPE.PAGE}}/>
      {/if}
			<Group>
				<Color bind:value={color} />
				<StateButton
					label={['include text', 'only icon']}
					selected={colorOnlyIcon}
					on:change={() => (colorOnlyIcon = !colorOnlyIcon)}
				/>
			</Group>
		</form>
	</Tabs>
</ModalLocal>

<style lang="postcss">
  form.content {
    @apply px-3 py-4 overflow-scroll h-full w-full;
  }
</style>
