<script lang="ts">
	import { PUBLIC_SERVER_URL } from '$env/static/public';
  import { PageOverviewModal } from '@comp/page'
	import Button from '@comp/form/button/button.svelte';
	import {PagePreview} from '@comp/page';
	import { closeModal, openModal } from 'svelte-modals';
	import { createEventDispatcher } from 'svelte';
  export let link: string;

  const dispatcher = createEventDispatcher();

  function isInternalLink (link: string): boolean {
    return link.startsWith(PUBLIC_SERVER_URL) || link.startsWith('/')
  }

  function getUrl (link: string): string {
    const url = new URL (link, PUBLIC_SERVER_URL);
    return url.toString();
  }

  function handleSelect (evt: CustomEvent) {
    const { detail } = evt;
    let {slug}: {slug: string} = detail
    slug = slug.startsWith('/') ? slug : `/${slug}`;
    if(link !== slug) {
      link = slug
      dispatcher('change', link)
    }
    closeModal();
  }

  function openPageOverview () {
    openModal(PageOverviewModal, {handleSelect})
  }

</script>

{#if isInternalLink(link)}
  <PagePreview --max-height="200px" on:click={openPageOverview} page={link} link={getUrl(link)}/>
{:else}
  <Button on:click={openPageOverview}>Select Page</Button>
{/if}
