<script lang="ts">
  import type { ElementData } from '@elements/types';
  import { createEventDispatcher } from 'svelte';
  import Content from '@comp/element/content.svelte';
	import type { GroupElement } from './types';


  const dispatcher = createEventDispatcher();

  let className = ""
  export {className as class}
  
  export let data: GroupElement;
  let {element, class: elementStyle, content, design = 'default', width = 'default', extendable= [], id} = data;


  function handleContentUpdate({detail}: CustomEvent<ElementData[]>) {
    content = detail;
    dispatcher('change', {
      ...data,
      content: detail
    })
  }

</script>



  <svelte:element this={element} class="relative e-{element} d-{design} w-{width} {elementStyle} {className}">
    <div class="drag-init overlay group"><i class="ri-layout-fill hidden group-hover:block"></i></div>
    <Content init={content} {element} {extendable} on:change={handleContentUpdate} />
  </svelte:element>


<style lang="postcss">  
  .e-section {
    @apply mx-auto;
  }
  .d-default {
    @apply py-7 px-3;
  }
  .w-default {
    max-width: var(--default-content-width);
  }

  .w-extra-quarter {
    max-width: var(--default-content-width);
  }

  .w-extra-half {
    max-width: var(--default-content-width);
  }

  div.overlay {
    @apply absolute top-0 left-0 h-full w-full hover:bg-primary-300 opacity-50 cursor-pointer;

    i {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-base leading-none  text-white bg-primary-600 p-3 rounded-full;
    }
  }

</style>
