div :global(ul) {
  @apply list-disc pl-11;
}

div :global(ol) {
  @apply list-decimal pl-11;
}

div :global(hr) {
  @apply border-t-2 border-solid border-primary-400 ml-7 mr-9 my-3;
}

div :global(blockquote) {
  @apply ml-14 pl-3 border-l-4 border-primary-400;
}