<script lang="ts">
	import type { TextElement } from "./types";



  let className = "";

  export {className as class};
  export let data: TextElement;
  const {id, content, design = "default", class: elementStyle} = data;
</script>

<style lang="postcss">
  @import "./text.postcss";

  div:not(.d-custom){
    @apply mx-auto w-full py-7 px-3;
    max-width: var(--default-content-width);
  }
</style>


<div class="d-{design} {elementStyle} {className}">
  {@html content}
</div>