<script lang="ts">
  import Editor from '@comp/form/editor.svelte';
  import { createEventDispatcher } from 'svelte';
	import type { TextEditOptions, TextElement } from './types';
  import {headline, text} from './profiles';

  const dispatcher = createEventDispatcher();
  let className = "";
  export {className as class};
  export let data: TextElement;
  const {id, content, design = "default", editProfile = 'text', options = {}, class: elementStyle} = data;

  const {
    headlines = [1, 2, 3, 4]
  } = {
    ...getProfile(),
    ...options
  }


  function getProfile (): TextEditOptions {
    switch(editProfile) {
      case 'headline':
        return headline;
      case 'text':
      default:
        return text
    }
  }

  

  function handleContentUpdate ({detail}: CustomEvent) {
    dispatcher('change', {
      content: detail,
      id
    })
  }
</script>

<style lang="postcss">
  @import "./text.postcss";
  div:not(.d-custom){
    @apply mx-auto w-full py-7 px-3;
    max-width: var(--default-content-width);
  }
</style>

<div class="d-{design} {elementStyle} {className}">
  <Editor on:change={handleContentUpdate} {content} >
    <svelte:fragment slot="bubbleMenu" let:editor>
      {#each headlines as h}
        <button 
          on:click={() => editor.chain().focus().toggleHeading({ level: h}).run()}
          class:active={editor.isActive('heading', { level: h })}
        >
          <i class="ri-h-{h}">
        </button>
      {/each}
      <button 
        on:click={() => editor.chain().focus().toggleBold().run()}
        class:active={editor.isActive('bold')}
      >
        <i class="ri-bold"></i>
      </button>
      <button 
        on:click={() => editor.chain().focus().toggleItalic().run()}
        class:active={editor.isActive('italic')}
      >
        <i class="ri-italic"></i>
      </button>
      <button
        on:click={() => editor.chain().focus().toggleStrike().run()}
        class:active={editor.isActive('strike')}
      >
        <i class="ri-strikethrough-2"></i>
      </button>
      <button
      on:click={() => editor.chain().focus().toggleBulletList().run()}
      class:active={editor.isActive('bulletList')}
    >
      <i class="ri-list-unordered"></i>
    </button>
    <button
      on:click={() => editor.chain().focus().toggleOrderedList().run()}
      class:active={editor.isActive('orderedList')}
    >
      <i class="ri-list-ordered"></i>
    </button>
    <button
      on:click={() => editor.chain().focus().toggleBlockquote().run()}
      class:active={editor.isActive('blockquote')}
    >
      <i class="ri-indent-increase"></i>
    </button>
    </svelte:fragment>
    <svelte:fragment slot="floatingMenu" let:editor>
      {#each headlines as h}
      <button 
        on:click={() => editor.chain().focus().toggleHeading({ level: h}).run()}
        class:active={editor.isActive('heading', { level: h })}
      >
        <i class="ri-h-{h}">
      </button>
      {/each}
      <button
        on:click={() => editor.chain().focus().toggleBulletList().run()}
        class:active={editor.isActive('bulletList')}
      >
        <i class="ri-list-unordered"></i>
      </button>
      <button
        on:click={() => editor.chain().focus().toggleOrderedList().run()}
        class:active={editor.isActive('orderedList')}
      >
        <i class="ri-list-ordered"></i>
      </button>
      <button
        on:click={() => editor.chain().focus().toggleBlockquote().run()}
        class:active={editor.isActive('blockquote')}
      >
        <i class="ri-indent-increase"></i>
      </button>
      <button on:click={() => editor.chain().focus().setHorizontalRule().run()}>
        <i class="ri-separator"></i>
      </button>
    </svelte:fragment>
  </Editor>
</div>