@import "variables/colors";
@import "variables/sizing";

//map

#map-container{

  $map_container_height: 495px;

  position: relative;

  height: $map_container_height;



  #map{
    width: 100%;
    height: 100%;
  }

  .container {

    position: relative;
    @media(min-width: $medium) {
      height: $map_container_height;
      margin-top: -$map_container_height;
    }
    box-sizing: border-box;

    padding: 0;



    .contact {
      z-index: 1000;
      position: absolute;

      background: rgba(#FFF, 0.825);

      a{
        color: $black;
      }

      @media(min-width: $medium) {
        right: 27px;
        bottom: 50%;

        transform: translate(0%, 50%);

        padding: 57px 83px;
      }

      @media(max-width: $medium - 1){

        bottom: 25px;
        width: 80vw;
        //margin: 0 5vw;
        left: 10vw;
        //transform: translate(-50%, 0%);

        padding: 13px 47px;

        >div{
          margin: 0 auto;
          max-width: 255px;
        }

      }

      @media (max-width: $small) {
        left: 0;
        width: 100vw;
      }
    }






    ul{
      padding-left: 30px;
    }

    li.icon.location{
      list-style-image: url("/assets/img/location.svg");
    }

    li.icon.phone:before{
      display: inline-block;
      content: ' ';
      background-image: url('/assets/img/phone.svg');
      background-position: center;
      background-size: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }

    li.icon.mail{
      list-style-image: url("/assets/img/mail.svg");
    }
  }
}