<script lang="ts" context="module">
import { MESSEGE_EVENT_TYPES, MODES, type HeaderFooter, type PageDataExtended } from '@types';
import { getComponentFor } from '../../elements/index';

import { DeleteElement, DndContext } from '@comp/element';
import { PUBLIC_BUILD_MODE } from "$env/static/public";
import Content from '@comp/element/content.svelte'

</script>

<script lang="ts">
import type { ElementData } from '@elements/image/index.js';

  export let data: PageDataExtended;
  let {mode, content, header, footer, ...page} = data;


  const setContents = (type: MESSEGE_EVENT_TYPES, data: ElementData[]) => {
    switch (type) {
      case MESSEGE_EVENT_TYPES.HEADER:
        header = {
          ...header,
          content: data
        } as HeaderFooter
        return header;
      case MESSEGE_EVENT_TYPES.FOOTER:
        footer = {
          ...footer,
          content: data
        } as HeaderFooter
        return footer;
      case MESSEGE_EVENT_TYPES.CONTENT:
        content = data;
        return content;
    }
  }

  const handleContentUpdate = (type: MESSEGE_EVENT_TYPES) => (evt: CustomEvent) => {
    const {detail} = evt;
    if(window.parent) {
      window.parent.postMessage({
        type,
        data: setContents(type, detail)
      }, location.origin)
    }
  }

</script>

{#if header}
<header>
  {#if PUBLIC_BUILD_MODE.toUpperCase() === 'NODE' && mode === MODES.PAGEFRAME}
    <DndContext>
      <Content init={header.content} on:change={handleContentUpdate(MESSEGE_EVENT_TYPES.HEADER)} />
      <DeleteElement />
    </DndContext>
  {:else}
    {#each header.content as {type, ...props}}
      <svelte:component this={getComponentFor(type)} data={props}/>
    {/each}
  {/if}
</header>
{/if}

<main class="relative">
  {#if PUBLIC_BUILD_MODE.toUpperCase() === 'NODE' && mode === MODES.EDIT}
    <DndContext>
      <Content init={content} on:change={handleContentUpdate(MESSEGE_EVENT_TYPES.CONTENT)} />
      <DeleteElement />
    </DndContext>
  {:else}
    {#if mode === MODES.PAGEFRAME}
      <div class="absolute w-full h-full z-10 bg-neutral-700/30"></div>
    {/if}
    {#each content as {type, ...props}}
      <svelte:component this={getComponentFor(type)} data={props}/>
    {/each}
  {/if}
</main>

{#if footer}
<footer>
  {#if PUBLIC_BUILD_MODE.toUpperCase() === 'NODE' && mode === MODES.PAGEFRAME}
    <DndContext>
      <Content init={footer.content} on:change={handleContentUpdate(MESSEGE_EVENT_TYPES.FOOTER)} />
      <DeleteElement />
    </DndContext>
  {:else}
    {#each footer.content as {type, ...props}}
      <svelte:component this={getComponentFor(type)} data={props}/>
    {/each}
  {/if}
</footer>
{/if}

