<script lang="ts">
	import { PUBLIC_SERVER_URL } from "$env/static/public";
	import { PagePreview } from "@comp/page";
	import { EditLayout } from "@comp/page";
  import CreateModal from './create.modal.svelte';
  import type { PageInfo } from "@types";
	import type { PageData } from "./$types";
	import { openModal } from "svelte-modals";
	import { IconButton } from "@comp/form/button";

  export let data: PageData;
  const {pages} = data;

  const handleClick = (data: PageInfo) => () => {}

  function getUrl (slug: string) {
    const url = new URL(slug, PUBLIC_SERVER_URL);
    return url.toString();
  }

  function openCreateModal () {
    openModal(CreateModal);
  }
</script>


<EditLayout>
  <svelte:fragment slot="actions">
    <IconButton icon="ri-add-line" on:click={openCreateModal}>Add</IconButton>
  </svelte:fragment>
  <ul slot="main" class="pages">
    <li class="add-page">
      <button on:click={openCreateModal}>
        <i class="ri-add-line"></i>
      </button>
    </li>
    {#each pages as {title, slug} (slug)}
      <li>
        <PagePreview on:click={handleClick({title, slug})} page={title} link={getUrl(slug)} />
      </li>
    {/each}
  </ul>
</EditLayout>



<style lang="postcss">
  ul {
    @apply flex flex-wrap justify-start;
    
    li.add-page {
      @apply ring-2 ring-neutral-300 rounded-md;

      button {
        @apply h-full w-full;
        @apply cursor-pointer hocus:ring-neutral-700 hocus:bg-neutral-300;
      }

      i {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
        @apply text-4xl;
      }
    }

    li {
      @apply relative h-80 w-80;
      @apply m-3;
    }
  }
</style>