<script lang="ts">
	import {Form, Input} from "@comp/form/index";
	import { createSchema } from "./schema";
	import { CloseableModalFrame } from "@comp/modal";
	import { Button, ButtonGroup } from "@comp/form/button";
	import { closeModal } from 'svelte-modals';

  export let isOpen: boolean;

  const slugAutocomplete = (v: string | number | boolean) => {
    if(typeof v !== 'string' || v.startsWith('/')){
      return v
    }
    return `/${v}`
  }

  const beforeFormValidation = (data: FormData) => {
    //data.set('content', []);
    return data;
  } 

</script>


<CloseableModalFrame {isOpen}>
  <Form action="?/create" method="POST" schema={createSchema} beforeValidate={beforeFormValidation}>
    <Input name="type" value="Page" hidden/>
    <Input label="Title" name="title"/>
    <Input label="Url" name="slug" autocomplete={slugAutocomplete}/>
    <Input label="Language" name="lang" value="en" />
    <Input textarea label="Description" name="description"/>
    <ButtonGroup>
      <Button type="submit"><i class="ri-file-add-line" />Create</Button>
      <Button type="reset" on:click={() => closeModal()}><i class="ri-close-line"/>Close</Button>
    </ButtonGroup>
  </Form>
</CloseableModalFrame>