.frame {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  /* allow click-through to backdrop */
  pointer-events: none;

  @apply p-7 z-40 overflow-hidden;
}

.content {
  @apply relative rounded-md overflow-scroll bg-white;
  min-width: 240px;
  pointer-events: auto;
  @apply max-h-full relative;
}