<script lang="ts">

  // provided by <Modals />
  export let isOpen = false;

  export const open = () => isOpen = true;
  export const close = () => isOpen = false;

</script>

{#if isOpen}
  <slot />
{/if}
