<script lang="ts">
  import BaseFrame from './base.frame.svelte';
	import type { SvelteComponentTyped } from 'svelte';

  let baseFrame: SvelteComponentTyped;

  export let isOpen = false;
  export const open = () => baseFrame.open();
  export const close = () => baseFrame.close();
</script>

<BaseFrame bind:this={baseFrame} {isOpen}>
  <div class="frame">
    <button class="absolute right-3 top-3 text-neutral-300 hocus:text-danger-700 text-4xl z-50"><i class="ri-close-line" /></button>
    <div class="content">
      <slot />
    </div>
  </div>
</BaseFrame>

<style lang="postcss">
  @import './base.frame.css';

  .content {
    @apply p-2;
  }

</style>