<script lang="ts">

  let className = "";
  export {className as class};
  export let type: 'danger' | 'close' | 'reset' | 'submit' | 'success' | 'neutral' | 'button' | 'info' = "button"; 
  export let icon: string;

  function getButtonType (type: string): 'reset' | 'submit' | 'button' {
    if(type === 'reset' || type === 'submit') {
      return type;
    } 

    return 'button'
  }

</script>

<button on:click type={getButtonType(type)} class="group {className}">
  <div class="visible {type}"><i class="{icon}" /></div>
</button>

<style lang="postcss">
  .group {
    @apply absolute p-1;

    &.left {
      @apply left-0;
      i { @apply left-[1px] }
    }

    &.right {
      @apply right-0;
      i { @apply right-[1px] }
    }

    &.top {
      @apply top-0;
      i { @apply top-[1px] }
    }

    &.bottom {
      @apply bottom-0;
      i { @apply bottom-[1px] }
    }
  }

  .visible {
    @apply -z-10 rounded-md;

    i {
      @apply absolute;
    }

    &.success, &.submit {
      @apply bg-success-700 group-hover:bg-success-500;
    }

    &.danger, &.close, &.reset {
      @apply text-white bg-danger-700 group-hover:bg-danger-500;
    }
  }

  .visible, .layer {
    @apply absolute top-0 left-0 w-full h-full;
  }
</style>