<script lang="ts">

	import { closeModal, Modals } from "svelte-modals";

</script>
<Modals>
  <button
    slot="backdrop"
    class="fixed top-0 bottom-0 left-0 right-0 w-full h-full bg-primary-900 opacity-50 z-40"
    on:click={closeModal}
  />
</Modals>