<script lang="ts">
  import { closeModal } from 'svelte-modals'

  // provided by <Modals />
  export let isOpen = false;
  export let closeAble = true;

  export const open = () => isOpen = true;
  export const close = () => isOpen = false;

</script>

{#if isOpen}
  <div role="dialog" class="modal z-50">
    <div class="contents">
      <div class="buttons">
        {#if closeAble}
          <button on:click={() => closeModal()} class="close"><i class="ri-close-line"></i></button>
        {/if}
      </div>
      <slot></slot>
    </div>
  </div>
{/if}

<style lang="postcss">
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* allow click-through to backdrop */
    pointer-events: none;

    @apply p-7;
  }

  div.buttons {
    @apply absolute top-0 -right-3 -translate-y-1/2;
  }

  button {
    @apply rounded-full border-2 h-7 w-7 flex justify-center content-center leading-tight border-primary-700 bg-white;
  }

  button.close:hover,
  button.close:focus {
    @apply bg-danger-700 text-white;
  }

  .contents {
    min-width: 240px;
    border-radius: 6px;
    padding: 16px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
    @apply max-h-full relative;
  }
</style>