<script lang="ts">
	import { fade } from 'svelte/transition';
  import { createEventDispatcher } from "svelte";
  import { keepVisible } from '@actions/keep.visible'

  const dispatcher = createEventDispatcher()
  let className = "";

  export function open () {
    isOpen = true;
  }
  export function close () {
    isOpen = false;
  }
  export {className as class};

  // provided by <Modals />
  export let isOpen = false;

  export let rejectAble = true;
  export let resolveAble = true;

  function reject() {
    close();
    dispatcher('reject');
  }

  function resolve() {
    open();
    dispatcher('resolve');
  }

</script>

{#if isOpen}
  <div use:keepVisible={{translation: -0.5}} role="dialog" class="modal {className}" transition:fade>
    <div class="buttons">
      {#if resolveAble}
        <button on:click={resolve} class="resolve"><i class="ri-check-line"></i></button>
      {/if}
      {#if rejectAble}
        <button on:click={reject} class="reject"><i class="ri-close-line"></i></button>
      {/if}
    </div>
    <slot></slot>
  </div>
{/if}

<style lang="postcss">
  .modal {
    @apply absolute top-1/2 left-1/2 h-fit -translate-y-1/2 -translate-x-1/2;
    @apply rounded-lg bg-white text-black border-2 border-solid border-primary-300 z-30;
  }

  .modal.inlay {
    @apply max-h-full max-w-full;
  }

  .modal.overlay {
    @apply min-w-[17rem] max-w-[100vw];
  }

  div.buttons {
    @apply absolute flex flex-nowrap gap-2 bottom-0 right-2 translate-y-1/2;
  }

  button {
    @apply rounded-full border-2 h-9 w-9 flex justify-center items-center border-primary-500 bg-white;

    i {
      @apply text-lg;
    }
  }

  button.reject {
    @apply text-danger-900 border-danger-900;
  }

  button.reject:hover,
  button.reject:focus {
    @apply bg-danger-700 text-white;
  }

  button.resolve {
    @apply text-success-900 border-success-900;
  }

  button.resolve:hover,
  button.resolve:focus {
    @apply bg-success-700 text-white;
  }

</style>