<script lang="ts">
	import { goto } from "$app/navigation";
	import { IconButton, StateButton } from "@comp/form/button";
	import { EditLayout } from "@comp/page";
	import { MESSEGE_EVENT_TYPES, type PageEditMeta } from "@types";
	import { onMount } from "svelte";
	import type { PageData } from "@types";
	import Viewports from "./viewports.svelte";
	import { MODES } from '@types';

  export let data: PageEditMeta;

  let storage: Partial<PageData>;
  let hasChanged = false;
  let iFrameHtml: HTMLIFrameElement;
  let viewportY: number;
  let viewportX: number;
  let iFrameSizeY: number;
  let iFrameSizeX: number;
  let iFrameLinkParams: '' | `?${string}`;
  
  onMount(() => {
    resetStorage();
  })

  function addStorage<T extends keyof PageData> (key: T, value: PageData[T]) {
    storage[key] = value;
    hasChanged = true;
  }

  function resetStorage () {
    storage = {}

    hasChanged = false;
  }

  function relaodIFrame() {
    iFrameHtml?.contentDocument?.location.reload();
  }

  async function persistData () {
  
    if(hasChanged === true) {
      await fetch("", {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(storage)
      })

      resetStorage();
    }
  }

  async function switchPage (evt: Event) {
    if(iFrameHtml?.contentWindow) {
      const iFrameLocation = new URL(iFrameHtml.contentWindow.location.href);
      const location = new URL(window.location.href);
      if(iFrameLocation.host !== location.host) {
        iFrameHtml.src = location.toString().replace('/edit', '?edit')
      } else if (iFrameLocation.searchParams.has('edit') === false) {
        const {pathname} = iFrameLocation;
        const slug = ["", "/"].includes(pathname) ? 'main' : pathname
        goto(new URL(`${slug}/edit`, iFrameLocation), {
          noScroll: true,
          keepFocus: true
        })
      }
    }

    
  }

  async function handleIFrameData (evt: MessageEvent) {
    if(evt.origin === location.origin) {
      const {type, data} = evt.data;
      if(type === MESSEGE_EVENT_TYPES.CONTENT) {
        addStorage('content', data);
      } else if (type === MESSEGE_EVENT_TYPES.HEADER) {
        addStorage('header', data);
      } else if (type === MESSEGE_EVENT_TYPES.FOOTER) {
        addStorage('footer', data);
      }
    }
  }

  function setIFrameLinkParams (mode?: MODES) {
    switch(mode) {
      case MODES.VIEW:
        iFrameLinkParams = '' 
        break;
      case MODES.PAGEFRAME:
        iFrameLinkParams = '?pageframe';
        break;
      case MODES.EDIT:
      default:
        iFrameLinkParams = '?edit';
        break;
    }
  }

  function switchFrame ({detail}: CustomEvent<[number, number, MODES]>) {
    const [width, height, mode] = detail;
    iFrameSizeX = width;
    iFrameSizeY = height;
    setIFrameLinkParams(mode);
  }

</script>
<div class="wrapper">
<EditLayout>
  <svelte:fragment slot="tools">
    <Viewports on:change={switchFrame} frameHeight={viewportY} frameWidth={viewportX} />
  </svelte:fragment>
  <svelte:fragment slot="actions">
    <IconButton icon="ri-refresh-line" on:click={relaodIFrame}>
      undo
    </IconButton>
    <IconButton icon="ri-git-merge-line" on:click={persistData}>
      Save
    </IconButton>
    <IconButton icon="ri-arrow-left-s-line" on:change={() => {}}>
      meta
    </IconButton>
  </svelte:fragment>
  <div slot="main" class="main" bind:clientHeight={viewportY} bind:clientWidth={viewportX}>
    {#if iFrameLinkParams != null && iFrameSizeX && iFrameSizeY}
    <iframe
      height={iFrameSizeY}
      width={iFrameSizeX}
      on:load={switchPage}
      bind:this={iFrameHtml}
      title="Edit Frame"
      sandbox="allow-same-origin allow-scripts allow-modals allow-modals"
      src="/{data.name}{iFrameLinkParams}"
    />
    {/if}
  </div>
</EditLayout>
  
</div>

<svelte:window on:message={handleIFrameData} />


<style lang="postcss">

  .wrapper {
    @apply grid grid-rows-2 h-screen box-border overflow-hidden;
    @apply bg-primary-300;

    grid-template-rows: min-content 1fr;
  }



  div.main {
    @apply w-full h-full;
  }


  iframe {
    @apply mx-auto;
    @apply bg-white;
    @apply ring-0 shadow-md rounded-md;
  }
</style>