<script lang="ts">
  import OptionsSwitch from '@comp/form/options.switch.svelte';
  import { beforeUpdate, createEventDispatcher, SvelteComponentTyped } from 'svelte';
	import { MODES } from '@types';

  type events = {
    'change': [number, number, MODES]
  }

  const dispatch = createEventDispatcher<events>();

  export let frameHeight: number;
  export let frameWidth: number;


  type sizeString = `${number}x${number}` | 'current';
  let sizes: [sizeString, string][] = [
      ['current', `Current (-w x -h)`],
      ['390x844', 'iPhone 12/13 (390w x 844h)'],
      ['810x1040', 'iPad (810w x 1040h)']
    ];
  let selected: sizeString = sizes[0][0];

  let modes: [number, string][] = [
    [MODES.EDIT, 'Edit Page'],
    [MODES.VIEW, 'Preview'],
    [MODES.PAGEFRAME, 'Edit Frame']
  ]
  let currentMode: MODES = MODES.VIEW;
  let editModeSwitchComp: OptionsSwitch;
  
  $: setSizes(frameWidth, frameHeight)

  beforeUpdate(() => {
    if(selected === 'current' && frameHeight && frameWidth) {
      editModeSwitchComp.setSelected(MODES.EDIT);
      //dispatch('change', [frameWidth, frameHeight, MODES.EDIT])
    }
  })

  function setSizes (width:number, height: number) {
    if(width && height) {
      sizes = sizes.map(([ident, value]) => {
        if(ident === 'current') {
          return [ident, `Current (${width}w x ${height}h)`]
        }
        return [ident, value]
      })
    }
  }
  
  function getSizesFrom (str: sizeString): [number, number] {
    if (str === 'current') {
      return [frameWidth, frameHeight]
    } else {
      const [width, height] = str.split('x');
      return [Number(width), Number(height)]
    }
  }

  function translateIdentifier ({detail}: CustomEvent<sizeString>) {
    selected = detail;
    editModeSwitchComp.setSelected(MODES.VIEW);
    //dispatch('change', [...getSizesFrom(detail), MODES.VIEW]);
  }

  function setMode ({detail}: CustomEvent<MODES>) {
    currentMode = detail;
    dispatch('change', [...getSizesFrom(selected), detail])
  }

  function handleReorder ({detail}: CustomEvent<typeof sizes>) {
    sizes = detail;
  }

</script>

<div>
  <OptionsSwitch on:change={translateIdentifier} on:reorder={handleReorder} options={sizes} />
  <OptionsSwitch bind:this={editModeSwitchComp} on:change={setMode} options={modes} />
</div>

<style lang="postcss">
  div {
    @apply flex;
  }
</style>