<script lang="ts">
	import { Tab } from '@comp/tab';
  import { createEventDispatcher } from 'svelte';

  export let addMode = false;
  export let name = "";

  let dispatcher = createEventDispatcher();

  function handleKeys(evt: KeyboardEvent) {
    if(evt.key === "Enter") {
      dispatcher('submit', name);
    }
  }

</script>

<Tab class={`mx-3 ${addMode ? 'bg-white': ''}`} >
  {#if addMode}
    <input class="border-b-2" bind:value={name} on:keyup={handleKeys} />
    <button on:click={() => dispatcher('submit', name)}><i class="ri-check-line" /></button>
  {:else}
  <button on:click={() => addMode = true}>
    <i class="ri-add-fill" />
  </button>
  {/if}
</Tab>