<script lang="ts">
	import { CONTEXT } from "@types";
	import { getContext, onMount } from "svelte";
	import type { Writable } from "svelte/store";


  let className = ""
  export {className as class}
  export let name: string;
  export let id = name;
  export let active = false;

  const currentlyActive = getContext<Writable<string>>(CONTEXT.TAB_ACTIVE);
  
  onMount(() => {
    if(active === true) {
      $currentlyActive = id;
    }
  })

</script>


<li class:active={$currentlyActive === id} class="{className}" >
  <slot name="link">
    <button on:click on:click={() => $currentlyActive = id}>
      <slot name="tab">{name}</slot>
    </button>
  </slot>
</li>


<style lang="postcss">

  li {

    @apply px-3 pb-2 pt-1 cursor-pointer;
    @apply rounded-t-md;

    &:hover,
    &:focus {
      @apply bg-primary-100 underline;
    }

    &.active {
      @apply bg-white cursor-auto no-underline;
    }
  }
</style>