<script lang="ts" context="module">

	import { CONTEXT } from "@types";
	import { setContext } from "svelte";
	import { writable } from "svelte/store";


</script>

<script lang="ts">

  let className = "";
  export {className as class};
  
  const active = writable<string>();
  setContext(CONTEXT.TAB_ACTIVE, active);
  


</script>


<ul class={className}>
  <slot></slot>
</ul>

<slot name="active" active={$active}></slot>


<style lang="postcss">
  ul {
    @apply flex px-3 pt-[2px] bg-primary-300;
  }

</style>