<script lang="ts">
  import Navigation from './navigation.svelte'
</script>

<header class="toolbar">
  <Navigation />
  <div class="tools">
    <slot name="tools" />
  </div>
  <div class="actions">
    <slot name="actions" />
  </div>
</header>


<main>
  <slot name="main"></slot>
</main>

<style lang="postcss">

  :global(body) {
    @apply m-0;

  }


  main {
    @apply relative overflow-scroll;
    @apply max-h-full px-2 pb-2;
  }

  .toolbar {
    @apply mx-auto p-2;
    @apply grid grid-cols-3 gap-3;
    @apply justify-between items-center;
    @apply w-full max-w-screen-2xl h-fit;

    grid-template-columns: 1fr max-content 1fr;

    .actions {
      @apply flex gap-3 justify-end;
    }
  }
</style>