<script lang="ts">
	import { IconButton } from "@comp/form/button";

  let isOpen = false;
</script>

<nav class="menu">
  <IconButton icon="ri-menu-2-line" on:click={() => isOpen = true}>Menu</IconButton>
  {#if isOpen}
    <ul>
      <li><IconButton on:click={() => isOpen = false} invert icon="ri-close-line">Close</IconButton></li>
      <li><IconButton href="/main/edit" icon="ri-file-edit-line">Editor</IconButton></li>
      <li><IconButton href="/__pages/overview" icon="ri-pages-line">Pages</IconButton></li>
    </ul>
  {/if} 
</nav>

<style lang="postcss">

  nav {
    @apply relative p-1;
  }

  ul {
    @apply absolute top-0 left-0;
    @apply p-1 rounded-md;
    @apply bg-white;
    @apply flex flex-row gap-2;
  }
</style>