<script lang="ts">
	import PageOverview from "./overview.svelte";
	import type { SvelteComponentTyped } from "svelte";
	import { CloseableModalFrame } from "@comp/modal";

  let modalRef: SvelteComponentTyped;

  export const open = () => modalRef.open();
  export const close = () => modalRef.close();
  export let isOpen: boolean;
  export let handleSelect: (evt: CustomEvent) => void;
</script>



<CloseableModalFrame {isOpen} bind:this={modalRef}>
  <PageOverview on:select={handleSelect}/>
</CloseableModalFrame>