<script lang="ts">
	import Spinner from "@comp/spinner.svelte";
  import PagePreview from './preview.svelte';
  import type {PageInfo} from '@types';
	import { createEventDispatcher } from "svelte";
	import { PUBLIC_SERVER_URL } from "$env/static/public";

  const dispatcher = createEventDispatcher();


async function loadPages () : Promise<PageInfo[]> {
  const response = await fetch('/__pages/name');
  return await response.json();
}

function getUrl (slug: string) {
  const url = new URL(slug, PUBLIC_SERVER_URL);
  return url.toString();
}

const handleClick = (data: PageInfo) => () => {
  dispatcher('select', data);
}

</script>

{#await loadPages()}
  <Spinner />
{:then pages}
  <ul>
  {#each pages as {title, slug} (slug)}
    <li>
      <PagePreview on:click={handleClick({title, slug})} page={title} link={getUrl(slug)} />
    </li>
  {/each}
  </ul>
{/await}

<style lang="postcss">
    ul {
    @apply grid grid-flow-col justify-start;
    
    li {
      @apply relative h-80 w-80;
      @apply m-3;
    }
  }
</style>