<script lang="ts">
  
  export let link: string;
  export let page: string;

  let height: number;
  let width: number;
  export let zoom = 2;

  function getPreviewLink (link: string) {
    const url = new URL(link)
    url.searchParams.set('preview', "true")
    return url.toString();
  }
  
</script>

<button on:click>
  <div class="wrapper" bind:clientHeight={height} bind:clientWidth={width}>
    <div class="protection" />
    <iframe 
      style="transform: scale({1/zoom})" 
      height={height*zoom} 
      width={width*zoom}
      scrolling="no" 
      sandbox="allow-same-origin" 
      title="Preview: {page}" 
      src="{getPreviewLink(link)}"
    />
  </div>
  <span class="title">{page}</span>
</button>

<style lang="postcss">

  button {
    @apply grid grid-cols-1 grid-rows-2;
    @apply w-full h-full;
    @apply ring-2 rounded-md ring-neutral-300;
    @apply p-1;
    @apply cursor-pointer hocus:bg-primary-300 hocus:ring-neutral-700;
    grid-template-rows: 1fr min-content;
    max-height: var(--max-height, '100%');


    .wrapper {
      @apply relative;
      @apply rounded-md overflow-hidden;

      .protection {
        /* to get cursor as pointer on iframe */
        @apply absolute h-full w-full z-10;
      }

      iframe {
        transform-origin: left top;
        @apply cursor-pointer;
      }
    }

    span.title {
      @apply border-t-2 border-solid border-neutral-400;
      @apply w-fit justify-self-center;
    }
  }

  
</style>
