<script lang="ts">
  import Image from './image.local.svelte'
	import type { ImageRenderElement } from './types';


  let className = "";
  export {className as class};

  export let data: ImageRenderElement;
  const {image, links, caption, alt, width = 'normal', high = 'normal', class: elementStyle} = data;

</script>

<style lang="postcss">
  div{ @apply relative my-7 }

  div.w-normal{
    max-width: var(--default-content-width);
  }

  div.w-large {
    max-width: calc(var(--default-content-width)*1.3);
  }

  div.h-full {
    height: 100%;
    @apply my-0;
  }
</style>

<div class="w-{width} h-{high} {elementStyle} {className}">
  <Image class="object-cover h-full w-full" {alt} {links} />
</div>
