<script lang="ts">
  import type { EditData, ImageElement } from './types'; 
  import { createEventDispatcher } from 'svelte';
  import Edit from './edit.svelte';
  

  const dispatcher = createEventDispatcher()

  let className = "";
  export {className as class};

  export let data: ImageElement;
  const {id, image, caption = "", alt, width = 'normal', high = 'normal', class: elementStyle} = data;

  function handleChange ({detail}: CustomEvent<EditData>) {

    data = {
      ...data,
      ...detail,
      image: detail.image || ""
    }
    
    dispatcher('change', data)
  }
  
</script>


<div class="wrapper w-{width} h-{high} {elementStyle} {className}">
  <img class="object-cover h-full w-full" {alt} src={image} />
  <Edit {image} {caption} {alt} on:change={handleChange}/>
</div>

<style lang="postcss">
  div.wrapper { @apply relative my-7 }

  div.w-normal{
    max-width: var(--default-content-width);
  }

  div.w-large {
    max-width: calc(var(--default-content-width)*1.3);
  }

  div.h-full {
    height: 100%;
    @apply my-0;
  }


</style>

