<script lang="ts">
	import type { UnsplashData } from './types';
  import InPlaceModal from '@comp/modal.inplace.svelte';
  import { Button } from "@comp/form/button";
  import { openModal } from 'svelte-modals'
  import Modal from './modal.svelte';
  import { createEventDispatcher, onMount } from 'svelte';
  import Upload from '@comp/form/upload.svelte';

  import Switch from '@comp/form/switch.svelte';
  import Input from '@comp/form/input.svelte';

  export let image: string | undefined;
  export let alt = "";
  export let caption = "";

  let shownImage: typeof image;
  let preset: {
    image: typeof image,
    alt: typeof alt,
    caption: typeof caption
  };

  onMount(() => {
    updatePreset()
  });

  let isEditing = false;
  const dispatcher = createEventDispatcher()

  function searchUnsplash () {
    openModal(Modal, { handleSelect: selectUnsplashImage })
  }

  function selectUnsplashImage ({detail}: CustomEvent<UnsplashData>) {
    ({image} = detail);
    const {photograph} = detail;
    if(caption == null || caption === "") {
      caption = photograph;
    }
    shownImage = image;
  }

  function handleUpload({detail}: CustomEvent) {
    image = detail.serverId;
  }

  function handleRemove() {
    image = undefined;
    shownImage = undefined;
  }


  function triggerChange() {
    
    updatePreset();

    dispatcher('change', {
      image,
      alt,
      caption
    })
  }

  function updatePreset() {
    preset = {
      image,
      alt,
      caption
    }
    shownImage = image
  }

  function resetForm() {
    ({image, alt, caption} = preset);
    shownImage = image;
  }


</script>

<button class="overlay" on:click={() => isEditing = true}><i class="ri-image-edit-line 2xl"></i></button>

<InPlaceModal class="inlay min-w-[500px]" bind:isOpen={isEditing} on:resolve={triggerChange} on:reject={resetForm}>
  <div class="content">
    <div class="upload flex flex-nowrap items-stretch -mx-3 -mt-4 mb-4 gap-x-1">
      <Upload class="grow h-fit bg-neutral-100" unsplash on:add={handleUpload} on:remove={handleRemove} accept="image/*" server="/images" width={2200} current={shownImage} />
      <Button class="custom self-auto bg-neutral-100 hover:bg-neutral-300 focus:bg-neutral-400 p-3" on:click={searchUnsplash}><i class="ri-unsplash-fill" /></Button>
    </div>
    <Switch>
      <Input label="Caption" bind:value={caption} slot="primary" />
      <Input label="Alt" bind:value={alt} slot="secondary" />
      Alt
    </Switch>
  </div>
</InPlaceModal>

<style lang="postcss">

  div.content {
    @apply px-3 py-4;
  }
  button.overlay {
    @apply absolute top-0 h-full w-full hover:bg-primary-300 opacity-50 cursor-pointer;

    i {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-5xl text-white bg-primary-600 p-7 rounded-full;
    }
  }
</style>