<script lang="ts">
import type { Basic } from "unsplash-js/dist/methods/photos/types";


  export let urls: Basic['urls'];
  export let user: Basic['user'];
</script>

<div>
  <img class="img" src={urls.small} />
  <a
    class="credit"
    target="_blank"
    rel="noreferrer"
    href={`https://unsplash.com/@${user.username}`}
  >
    {user.name}
  </a>
</div>

<style lang="postcss">
  div {
    @apply relative;
  }

  a {
    @apply absolute bottom-3 left-3
  }
</style>

