<script lang="ts">
	import { PUBLIC_SERVER_URL } from "$env/static/public";
	import type { BuildLinks } from "./types";



  
  export let alt: string;
  export let links: BuildLinks[];

  let className = "";
  export {className as class};

  function getFallback() {
    const fallback = links.find((link) => link.type === 'fallback');
    return fallback?.link;
  }

  function getSrcset() {
    const versions = links.filter(link => link.type === 'version');
    const mod = versions.map(({link, original}) => {
      const url = new URL(original, PUBLIC_SERVER_URL);
      const w = url.searchParams.get('width');
      return `${link} ${w}w`;
    })

    return mod.join(' ,')
  }
  
</script>

<img class="{className}" src={getFallback()} srcset={getSrcset()} {alt}/>