

<script lang="ts">
  import { CloseableModalFrame } from '@comp/modal';

  import Unsplash from './unsplash.svelte';

  export let isOpen: boolean;

  export let handleSelect: (event: CustomEvent) => void
</script>


<CloseableModalFrame {isOpen}>
  <Unsplash on:select={handleSelect}/>
</CloseableModalFrame>