
<script lang="ts">
  import type {ImageData} from './types';
	import { Button } from "@comp/form/button";
  import Image from './image.unsplash.svelte';
  import Search from '@comp/form/search.svelte';
  import { createUnsplashSearch } from './search';
  import type { Basic } from 'unsplash-js/dist/methods/photos/types';
  import { closeModal } from 'svelte-modals';
import { createEventDispatcher } from 'svelte';

  const dispatcher = createEventDispatcher();

  const images = createUnsplashSearch();

  images.search('vally');

  function search(evt: Event) {
    const target = <HTMLInputElement> evt.target;
    if(target?.value) {
      images.search(target.value);
    }
  }



  function selectImage (uimage: Basic) {
    const image:ImageData = {
      image: uimage.urls.raw,
      photograph: uimage.user.name
    }


    dispatcher('select', image)
    closeModal();
  }



</script>

<div class="flex flex-nowrap gap-1">
  <Search class="grow" placeholder="Search Unsplash" on:input={search}/>
  <!-- <Button on:click={() => closeModal()} type="DANGER"><i class="ri-close-line"></i> Close</Button> -->
</div>
<ul class="grid grid-cols-3 gap-3 align-top overflow-x-auto">
  {#each $images as image }
    <li class="relative">
      <Image {...image} />
      <Button on:click={() => selectImage(image)} class="absolute bottom-3 right-3">
        <i class="ri-add-line"></i> Select
      </Button>
    </li>
  {/each}
</ul>