@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    --default-content-width: 61em;
    overflow-x: hidden;
  }

  h1 {
    @apply text-6xl pb-3;
  }

  h2 {
    @apply text-4xl pb-3;
  }

  h3 {
    @apply text-3xl
  }

  h4 {
    @apply text-xl
  }

  p {
    @apply pb-5;
  }

}

